In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
df = pd.read_csv("Real_Combine.csv")

In [27]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093 entries, 0 to 1092
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       1093 non-null   float64
 1   TM      1093 non-null   float64
 2   Tm      1093 non-null   float64
 3   SLP     1093 non-null   float64
 4   H       1093 non-null   float64
 5   VV      1093 non-null   float64
 6   V       1093 non-null   float64
 7   VM      1093 non-null   float64
 8   PM 2.5  1092 non-null   float64
dtypes: float64(9)
memory usage: 77.0 KB

In [50]:
df['T'].value_counts()
df.replace([np.inf, -np.inf], np.nan,inplace=True)
df.dropna(inplace=True)
df

       T  TM  Tm  SLP   H  VV   V  VM      PM 2.5
0      1   0   5  218  70   1  20   4  219.720833
1      2   1   4  227  64   2  21   5  182.187500
2      0   2   1  236  59   2  23   5  154.037500
3      3   4   2  229  49   3  41  10  223.208333
4     19  33   4  215  38   6  44  11  200.645833
...   ..  ..  ..  ...  ..  ..  ..  ..         ...
1088  68  57  57  197  33   9  82  13  288.416667
1089  65  67  52  201  31  12  48  11  256.833333
1090  30  62  58  193  72   2  44   7  169.000000
1091  52  51  43  211  55   5  37   8  186.041667
1092  52  54  35  215  45   6  39   9  185.583333

[1092 rows x 9 columns]

In [51]:
from sklearn.preprocessing import LabelEncoder
le_temp = LabelEncoder()
df['T'] = le_temp.fit_transform(df['T'])
df['T'].unique()

array([  1,   2,   0,   3,  19,  49,  26,  32,  21,  14,  17,  18,  28,
        38,  39,  52,  74,  35,  36,  37,  62,  68,  70,  53,  57,  80,
        60,  64,  88,  69,  77, 105, 104, 117, 115, 109, 123, 143, 134,
       113, 111, 124, 131, 132, 128, 167, 164, 183, 170, 154, 155, 165,
       177, 152, 171, 186, 169, 200, 212, 181, 201, 178, 229, 232, 238,
       224, 207, 191, 196, 213, 220, 175, 176, 202, 182, 184, 210, 188,
       190, 189, 140, 163, 157, 172, 162, 194, 156, 153, 146, 173, 149,
       193, 192, 174, 168, 159, 136, 158, 161, 151, 166, 147, 139, 127,
       125, 118, 120, 103,  91,  85,  76,  78,  65,  63,  58,  67,  92,
        93,  51,  54,  43,  44,  27,  24,  11,  13,  30,  15,  34,  55,
        42,  73,  82,  29,  23,  20,  40,  50,  66,  71,  83, 102,  94,
        97,  95, 129, 112, 119, 126, 144, 133, 142, 187, 218, 215, 179,
       141, 195, 216, 242, 239, 240, 233, 205, 217, 211, 219, 227, 204,
       180, 197, 198, 208, 148, 121, 122, 130, 106, 116,  72,  87,  59,
        47,  31,  12,   5,   4,  10,   8,   6,   7,   9,  16,  25,  61,
        56,  46, 108, 107,  98,  84,  79,  81,  96, 137, 160, 225, 226,
       221, 209, 230, 237, 138, 199, 206, 185, 100,  75,  86,  41,  33,
        45,  22,  48, 110, 114, 135, 203, 241, 222, 234, 231, 235, 236,
       228, 223, 214, 145, 150, 101,  90,  89,  99])

In [52]:
le_tmax = LabelEncoder()
df['TM'] = le_tmax.fit_transform(df['TM'])
df['TM'].unique()

array([  0,   1,   2,   4,  33,  69,  34,  49,  19,  26,  35,  37,  43,
        42,  57,  80,  39,  40,  71,  84,  52,  55,  86,  59,  82,  99,
        78,  85,  95, 117, 128, 146, 138, 111, 127, 156, 151, 108, 120,
       125, 168, 178, 182, 185, 174, 172, 186, 192, 191, 198, 194, 189,
       212, 220, 183, 203, 181, 233, 236, 235, 230, 224, 210, 208, 229,
       207, 163, 190, 213, 199, 165, 179, 158, 166, 162, 175, 180, 152,
       159, 145, 157, 169, 119, 154, 118, 139, 143, 173, 150, 164, 167,
       171, 176, 170, 149, 153, 148, 134, 135, 140, 137, 132, 124, 121,
       112, 116, 101,  97,  88,  73,  79,  83, 100, 102,  96,  70,  62,
        66,  47,  24,   6,  29,  30,  11,  16,  17,  25,  31,  44,  46,
        28,  61,  81,  23,  14,  53,  63,  36,  41,  74,  76, 103,  93,
       109, 105, 136, 104, 160, 187, 131, 144, 193, 226, 219, 200, 130,
       197, 218, 204, 234, 237, 214, 216, 228, 196, 188, 209, 221, 147,
       184, 161, 155, 177, 115, 141, 106, 122, 123, 126,  92,  91,  32,
        27,  13,  12,   7,  10,  21,   9,   3,   8,  20,  18,  38,  56,
        72,  90,  58,  98, 113, 201, 195, 225, 217, 223, 227, 222, 202,
       110,  94,  87,  45,  22,  48,  68,  50,  64,   5,  15,  89,  77,
       114, 133, 142, 107, 129, 205, 211, 232, 231, 215, 206,  75,  65,
        60,  51,  67,  54])

In [53]:
le_tmin= LabelEncoder()
df['Tm'] = le_tmin.fit_transform(df['Tm'])
df['Tm'].unique()

array([  5,   4,   1,   2,  45,  37,  16,  22,  13,  12,   9,  14,  19,
        20,  25,  63,  40,  39,  29,  30,  48,  47,  69,  57,  46,  64,
        53,  43,  86,  65,  61,  73,  89,  76,  75,  83, 109,  80, 107,
       105,  97,  99, 106, 111, 113, 125, 139, 136, 141, 126, 127, 131,
       158, 152, 163, 142, 149, 138, 172, 157, 187, 167, 168, 178, 210,
       198, 216, 211, 215, 186, 185, 206, 176, 209, 196, 166, 191, 190,
       194, 202, 188, 197, 177, 200, 162, 159, 182, 181, 193, 192, 173,
       180, 179, 164, 175, 189, 170, 161, 154, 171, 160, 151, 134, 121,
       104, 102, 103, 108, 112,  94,  78,  81,  66,  55,  58,  49,  77,
        84,  67,  36,  28,  60,  24,  15,   6,   7,  34,  41,  31,  35,
        59,  44,  18,  85,  71,  50,  70,  68,  93,  95, 118, 122,  98,
       133, 147, 137, 129, 119, 114, 130, 143, 117, 184, 219, 204, 214,
       148, 174, 220, 222, 155, 212, 203, 199, 208, 183, 146, 165, 169,
       144,  96, 120,  91,  90, 100, 101,  51,  27,  72,  23,  21,  11,
        33,   3,  10,  17,  38,  56,  82,  79, 128, 110, 132, 156, 145,
       207, 195, 213, 153, 140, 150,  88,  92,  62,  74,   0,   8,  26,
        54,  52,  42, 115, 123, 116, 135, 221, 218, 217, 205, 201, 124,
        87,  32])

In [54]:
le_humidity = LabelEncoder()
df['H'] = le_humidity.fit_transform(df['H'])
df['H'].unique()

array([70, 64, 59, 49, 38, 56, 53, 46, 37, 47, 40, 50, 58, 57, 41, 48, 44,
       52, 51, 39, 31, 35, 34, 30, 32, 45, 29, 28, 24, 27, 33,  7, 15, 11,
       14, 22, 12, 13, 25,  2,  6,  9, 21,  3, 18, 36, 26, 55, 54, 63, 60,
       65, 67, 42, 43, 62, 68, 72, 61, 69, 66, 75, 73, 74, 17, 16, 10, 20,
       23,  8, 71, 19,  1,  4,  5,  0])

In [55]:
le_SLP = LabelEncoder()
df['SLP'] = le_SLP.fit_transform(df['SLP'])
df['SLP'].unique()

array([218, 227, 236, 229, 215, 175, 194, 205, 248, 242, 246, 241, 237,
       224, 225, 216, 214, 196, 226, 213, 210, 201, 181, 157, 198, 199,
       190, 204, 197, 189, 144, 151, 174, 203, 133, 136, 134, 138, 135,
       143, 104, 113, 108, 127, 121,  92,  81,  86, 123, 126, 131, 119,
        60,  46,  72,  66,  89,  62,  45,  44,  34,  37,  41,  49,  32,
        21,  10,  39,  30,  43,  29,  13,  22,  14,  28,  53,  18,  36,
         8,  17,  19,  35,  48,  70,  58,  52,  55,  50,  88,  79, 100,
       125, 122,  96,  67,  77, 106, 118, 110, 132, 139, 147, 152, 128,
       160, 155, 153, 183, 178, 202, 195, 208, 186, 207, 169, 171, 163,
       187, 177, 165, 211, 245, 228, 243, 221, 238, 252, 244, 240, 233,
       230, 235, 239, 141, 158, 164, 179, 162, 209, 191, 185, 176, 212,
       206, 154, 161, 130, 114, 109, 150, 145, 140, 159, 112, 120,  69,
        95,  73,  57, 117,  93,  75,  82,  85,   4,   3,   1,  26,  24,
         2,   0,  61,  31,  25,  16,   9,  20,  15,  71,  51,  33,  23,
        11,  65,  78,  63,  87,  94,  80, 129, 148, 146, 156, 168, 188,
       166, 192, 180, 172, 184, 193, 234, 251, 223, 219, 217, 232, 222,
       167, 173, 247, 124,  99,  98, 149,  91, 111, 115,  84,  68, 116,
        74,  56,  59,  47,  40,  54,   7,   6,  42,  38,   5, 107,  90,
       105, 170, 231, 250, 249, 200, 137, 103,  76,  27,  64,  12, 102,
        83,  97, 101, 142, 220, 182])

In [56]:
le_V = LabelEncoder()
df['V'] = le_V.fit_transform(df['V'])
df['V'].unique()

array([20, 21, 23, 41, 44,  5,  0, 30, 42, 40, 33, 36,  8,  9,  4,  6, 48,
       56, 47, 24, 51, 29, 25, 22, 93, 83, 37, 18, 58, 72, 61, 82, 67, 32,
       38, 46, 54, 31, 80, 17, 70, 59, 62, 52, 39, 16, 27, 77, 69, 68, 43,
       64, 45, 53, 11, 35, 50, 60, 14, 26, 84, 76, 74, 79, 34, 12,  7, 49,
       28, 15,  3, 13,  2,  1, 10, 66, 65, 57, 19, 87, 89, 92, 90, 75, 63,
       81, 88, 85, 78, 73, 91, 86, 55, 71])

In [57]:
le_VV = LabelEncoder()
df['VV'] = le_VV.fit_transform(df['VV'])
df['VV'].unique()

array([ 1,  2,  3,  6,  9,  5, 11, 10,  8, 15, 14,  7, 13, 12, 17,  4,  0,
       16, 19, 18, 21, 20])

In [58]:
le_VM = LabelEncoder()
df['VM'] = le_VM.fit_transform(df['VM'])
df['VM'].unique()

array([ 4,  5, 10, 11,  3,  1,  8,  9,  7, 18, 16, 13, 14,  6, 12, 25, 24,
        2, 21, 26, 22, 23, 19, 17,  0, 20, 15])

In [59]:
x = df.drop("PM 2.5", axis=1)
y = df["PM 2.5"]

In [60]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(x,y.values)

LinearRegression()

In [61]:
from sklearn.tree import DecisionTreeRegressor
dec_tree_reg = DecisionTreeRegressor(random_state=0)
dec_tree_reg.fit(x,y.values)

DecisionTreeRegressor(random_state=0)

In [63]:
y_pred = dec_tree_reg.predict(x)

In [64]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
error = np.sqrt(mean_squared_error(y,y_pred))
print(error)

1.4897023514804435e-15

In [68]:
from sklearn.model_selection import GridSearchCV
max_depth = [None, 2, 4, 6, 8, 10, 12]
parameters = {"max_depth": max_depth}
regressor = DecisionTreeRegressor(random_state=0)
gs = GridSearchCV(regressor, parameters, scoring="neg_mean_squared_error")
gs.fit(x, y.values)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

regressor = gs.best_estimator_
regressor.fit(x, y.values)
y_pred = regressor.predict(x)
error = np.sqrt(mean_squared_error(y,y_pred))
print(error)